.subject {
    box-sizing: border-box;
    color: #fff;
    margin-top: 20px;
    position: absolute;
    // top: -120px;
    bottom: -120px;
    transition: top .3s ease-in;
    width: 100%;
    z-index: $zindex3;

    &.visible {
        // top: 0;
        bottom: 30px;
    }

    &.recording {
        top: 0;

        .subject-details-container {
            opacity: 0;
            transition: opacity .3s ease-in;
        }

        .subject-info-container .show-always {
            transition: margin-left .3s ease-in;
        }

        &.visible {
            .subject-details-container {
                opacity: 1;
            }
        }
    }
}

.subject-details-container {
    display: flex;
}

.subject-info-container {
    display: flex;
    // justify-content: center;
    justify-content: flex-end;
    // max-width: calc(100% - 280px);
    max-width: calc(100% - 90px);
    margin: 0 auto;

    &--full-width {
        max-width: 100%;
    }

    @media (max-width: 500px) {
        flex-wrap: wrap;
        max-width: 100%;
    }
}

.subject-info {
    align-items: center;
    display: flex;
    margin-bottom: 4px;
    max-width: 80%;
    height: 28px;
}

.subject-text {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px 0px 0px 3px;
    font-size: 14px;
    line-height: 24px;
    padding: 2px 16px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.subject-timer {
    background: rgba(255,255,255,.2);
    // background: rgba(0, 0, 0, 0.8);
    border-radius: 0px 3px 3px 0px;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    min-width: 34px;
    padding: 6px 8px;
}
