/**
 * Round badge.
 */
.badge-round {
    background-color: $toolbarBadgeBackground;
    border-radius: 50%;
    box-sizing: border-box;
    color: $toolbarBadgeColor;
    // Do not inherit the font-family from the toolbar button, because it's an
    // icon style.
    font-family: $baseFontFamily;
    font-size: 9px;
    font-weight: 700;
    line-height: 13px;
    min-width: 13px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
}

/**
 * TODO: when the old filmstrip has been removed, remove the "new-" prefix.
 */
.new-toolbox {
    bottom: calc((#{$newToolbarSize} * 2) * -1);
    left: 0;
    position: absolute;
    right: 0;
    transition: bottom .3s ease-in;
    width: 100%;


    &.visible {
        bottom: 0;
    }

    &.no-buttons {
        display: none;
    }

    @media (min-width: 581px) {
        &.shift-right {
            margin-left: $sidebarWidth;
            width: calc(100% - #{$sidebarWidth});
        }
    }
}

.toolbox-content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 16px;
    position: relative;
    z-index: $toolbarZ;
    pointer-events: none;

    .button-group-center,
    .button-group-left,
    .button-group-right {
        display: flex;
        width: 33%;
    }

    .button-group-center {
        justify-content: center;
    }

    .button-group-right {
        justify-content: flex-end;
    }

    .toolbox-button-wth-dialog {
        display: inline-block;
    }
}

.toolbox-button {
    color: $toolbarButtonColor;
    cursor: pointer;
    display: inline-block;
    line-height: $newToolbarSize;
    text-align: center;
}

.toolbar-button-with-badge {
    display: inline-block;
    position: relative;

    .badge-round {
        bottom: -5px;
        font-size: 12px;
        line-height: 20px;
        min-width: 20px;
        pointer-events: none;
        position: absolute;
        right: -5px;
    }
}

.toolbox-content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    pointer-events: all;
    border-radius: 50px;
}

.toolbox-content-wrapper::after {
    content: '';
    background: $newToolbarBackgroundColor;
    padding-bottom: env(safe-area-inset-bottom, 0);
}

.toolbox-content-items {
    // background: $newToolbarBackgroundColor;
    
    border-radius: 50px;
    margin: 0 auto;
    padding: 6px;
    text-align: center;
    pointer-events: all;
    // box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.25), 0px 0px 0px 1px rgba(0, 0, 0, 0.15);

    >div {
        margin-left: 16px;
        // margin-left: 8px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.overflow-menu {
    font-size: 14px;
    list-style-type: none;
    padding: 8px 0;
    background-color: $menuBG;

    .profile-text {
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.overflow-menu-item {
    align-items: center;
    color: $overflowMenuItemColor;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 24px;
    padding: 8px 16px;
    box-sizing: border-box;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background: $overflowMenuItemBackground;
        }
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &.unclickable {
        cursor: default;
    }
    &.disabled {
        cursor: initial;
        color: #929292;

        &:hover {
            background: none;
        }

        svg {
            fill: #929292;
        }

    }

    @media (hover: hover) and (pointer: fine) {
        &.unclickable:hover {
            background: inherit;
        }
    }
}

.beta-tag {
    background: #36383C;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    margin-left: 8px;
    padding: 0 4px;
    text-transform: uppercase;
}

.overflow-menu-item-icon {
    margin-right: 16px;

    i {
        display: inline;
        font-size: 24px;
    }

    @media (hover: hover) and (pointer: fine) {
        i:hover {
            background-color: initial;
        }
    }

    img {
        max-width: 24px;
        max-height: 24px;
    }

    svg {
        fill: #fff;
        height: 20px;
        width: 20px;
    }
}


.overflow-menu-hr {
    border-top: 1px solid #4C4D50;
    border-bottom: 0;
    margin: 8px 0;
}

.toolbox-icon {
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    font-size: 24px;
    height: $newToolbarSize;
    justify-content: center;
    width: $newToolbarSize;
    background: $newToolbarButtonHoverColor;

    // @media (hover: hover) and (pointer: fine) {
    //     &:hover {
    //         background: $newToolbarButtonHoverColor;
    //     }
    // }

    @media (max-width: 320px) {
        height: 36px;
        width: 36px;
    }

    &.toggled {
        background: $newToolbarButtonToggleColor;
    }

    &.disabled {
        cursor: initial !important;
        background-color: #36383c !important;

        svg {
            fill: #929292 !important;
        }
    }
}

.hangup-button {
    background-color: $hangupColor;
    height: 54px;
    width: 54px;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: $hangupHoverColor;
        }
    }

    svg {
        fill: #fff;
    }
}

.profile-button-avatar {
    align-items: center;
}

/**
 * START of fade in animation for main toolbar
 */
.fadeIn {
    opacity: 1;

    @include transition(all .3s ease-in);
}

.fadeOut {
    opacity: 0;

    @include transition(all .3s ease-out);
}

/**
 * Audio and video buttons do not have toggled state.
 */
.audio-preview,
.video-preview {
    .toolbox-icon.toggled {
        // background: none;
        border-radius: 50px;
        background: $newToolbarButtonHoverColor;

        // &:hover {
        //     background: $newToolbarButtonHoverColor;
        // }
    }

}

/**
 * On small mobile devices make the toolbar full width and pad the invite prompt.
 */
.toolbox-content-mobile {
    @media (max-width: 500px) {
        margin-bottom: 0;

        .toolbox-content-wrapper {
            width: 100%;
        }

        .toolbox-content-items {
            border-radius: 50px;
            display: flex;
            justify-content: space-evenly;
            padding: 8px 0;
            width: 100%;
        }

        .invite-more-container {
            margin: 0 16px 8px;
        }

        .invite-more-container.elevated {
            margin-bottom: 52px;
        }
    }
}
