<title>ShareSlate Meet</title>
<!-- <title>Jitsi Meet</title> -->
<meta property="og:title" content="ShareSlate Meet"/>
<!-- <meta property="og:title" content="Jitsi Meet"/> -->
<meta property="og:image" content="images/jitsilogo.png?v=1"/>
<meta property="og:description" content="Join a WebRTC video conference powered by the Jitsi Videobridge"/>
<meta description="Join a WebRTC video conference powered by the Jitsi Videobridge"/>
<meta itemprop="name" content="ShareSlate Meet"/>
<!-- <meta itemprop="name" content="Jitsi Meet"/> -->
<meta itemprop="description" content="Join a WebRTC video conference powered by the Jitsi Videobridge"/>
<meta itemprop="image" content="images/jitsilogo.png?v=1"/>
<link rel="icon" type="image/png" href="images/favicon.ico?v=1"/>
