.settings-pane {
    display: flex;
    width: 100%;

    &.profile-pane {
        flex-direction: column;
    }

    .auth-name {
        margin-bottom: 4px;
    }

    .calendar-tab,
    .device-selection {
        margin-top: 20px;
    }

    .mock-atlaskit-label {
        color: #b8c7e0;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
        padding: 20px 0px 4px 0px;
    }
    input[type="checkbox"]:checked + svg {
        --checkbox-background-color: #6492e7;
        --checkbox-border-color: #6492e7;
    }
    input[type="checkbox"] + svg + span {
        color: #b8c7e0;
    }

    input[type="checkbox"] + svg + span {
        color: #9FB0CC;
    }

    .calendar-tab,
    .more-tab,
    .box {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .profile-edit {
        display: flex;
        width: 100%;
        flex-direction: column;
        .content-main{
            background-color: #fff;
            align-self: center;
            border-radius: 5px;
            display: flex;
            width: 100%;
            padding: 10px;
            align-items: center;
            .image{
                margin-right: 10px;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 50px;
                height: 35px;
                width: 35px;
                justify-content: center;
                align-self: center;
                img{
                    border-radius: 50%;
                }
            }
            .name{
                font-size: 16px;
                color: #000;
            }
        }
    }

    .profile-edit-field {
        flex: 1;
    }
    .settings-sub-pane {
        flex: 1;
    }

    .settings-sub-pane .right {
        flex: 1;
    }
    .settings-sub-pane .left {
        flex: 1;
    }

    .settings-sub-pane-element {
        text-align: left;
        flex: 1;
    }
    .profile-edit-field {
        margin-right: 20px;
    }

    .calendar-tab {
        align-items: center;
        flex-direction: column;
        font-size: 14px;
        min-height: 100px;
        text-align: center;
    }

    .calendar-tab-sign-in {
        margin-top: 20px;
    }

    .sign-out-cta {
        margin-bottom: 20px;
    }

    @media only screen and (max-width: $smallScreen) {
        .device-selection {
            display: flex;
            flex-direction: column;
        }
        .more-tab {
            flex-direction: column;
        }
    }
}
