.vertical-filmstrip .filmstrip {
    &.hide-videos {
        .remote-videos {
            & > div {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    /*
     * Firefox sets flex items to min-height: auto and min-width: auto,
     * preventing flex children from shrinking like they do on other browsers.
     * Setting min-height and min-width 0 is a workaround for the issue so
     * Firefox behaves like other browsers.
     * https://bugzilla.mozilla.org/show_bug.cgi?id=1043520
     */
    @mixin minHWAutoFix() {
        min-height: 0;
        min-width: 0;
    }

    @extend %align-right;
    align-items: flex-end;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    padding: ($desktopAppDragBarHeight - 5px) 5px calc(env(safe-area-inset-bottom, 0) + 10px);
    /**
     * fixed positioning is necessary for remote menus and tooltips to pop
     * out of the scrolling filmstrip. AtlasKit dialogs and tooltips use
     * a library called popper which will position its elements fixed if
     * any parent is also fixed.
     */
    position: fixed;
    top: 0;
    transition: height .3s ease-in;
    right: 0;
    z-index: $filmstripVideosZ;

    /**
     * Hide videos by making them slight to the right.
     */
    .filmstrip__videos {
        @extend %align-right;
        bottom: 0;
        padding: 0;
        position:relative;
        // right: 0;
        right: 40px;
        width: auto;

        &.hidden {
            bottom: auto;
            right: -196px;
        }

        /**
         * An id selector is used to match id specificity with existing
         * filmstrip styles.
         */
        &#remoteVideos {
            border: $thumbnailsBorder solid transparent;
            padding-left: 0;
            transition: right 2s;
            width: 100%;
        }
    }

    /**
     * Re-styles the local Video to better fit vertical filmstrip layout.
     */
    #filmstripLocalVideo {
        align-self: initial;
        bottom: 5px;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        justify-content: flex-start;

        #filmstripLocalVideoThumbnail {
            width: calc(100% - 15px);

            .videocontainer {
                height: 0px;
                width: 100%;
    }
        }

    }

    /**
     * Remove unnecssary padding that is normally used to prevent horizontal
     * filmstrip from overlapping the left edge of the screen.
     */
    #filmstripLocalVideo,
    .remote-videos {
        padding: 0;
    }

    #remoteVideos {
        @include minHWAutoFix();

        flex-direction: column;
        flex-grow: 1;
    }

    &.reduce-height {
        height: calc(100% - calc(#{$newToolbarSizeWithPadding} + #{$scrollHeight}));
    }

    .remote-videos {
        display: flex;
        transition: height .3s ease-in;

        & > div {
            position: absolute;
            transition: opacity 1s;
        }

        &.is-not-overflowing > div {
            bottom: 0px;
        }
    }
}
